<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:mem:rook;MODE=MySQL;DB_CLOSE_DELAY=-1</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"/>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="hbm2ddl.auto">create-drop</property>
        <property name="cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <property name="cache.use_query_cache">true</property>
        <property name="cache.use_second_level_cache">true</property>
        <mapping class="com.github.shyiko.rook.target.hibernate.cache.model.Entity"/>
        <mapping class="com.github.shyiko.rook.target.hibernate.cache.model.EntityProperty"/>
        <mapping class="com.github.shyiko.rook.target.hibernate.cache.model.EntityWithCompositeKey"/>
        <mapping class="com.github.shyiko.rook.target.hibernate.cache.model.NonCacheableEntity"/>
    </session-factory>

</hibernate-configuration>
